.App {
  text-align: center;
  height: 95vh;
  width: 100vw;
  margin: 0px;
}

.row{
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#topRow{
  height: 100%;
}


.visComponent{
  height: 100%;
  width: 100%;
  margin: 0px;
}

.fillSpace{
  height: 100%;
  width: 100%;
}

.fillHeight{
  height:100%;
  width: auto;
}

.fillWidth{
  width: 100%;
  height: auto;
}

.centerText{
  justify-content: center!important;
  text-align: center!important;
  width: 100% !important;

}

.noGutter{
  margin: 0px!important;
  padding: 0px!important;
}

#cell1{
  background-color: rgba(250,0,0,.2);
}

#cell2{
  background-color: rgba(0,0,250,.2);
}

.patientPlot{
  height: 20em;
  width: 16em;
}

.tooltip {	
  position: absolute;
  z-index: 10;
  opacity: 1!important;			
  text-align: center;			
  width: auto;		
  max-width: 50vw;			
  height: auto;					
  padding: 10px;				
  font: 12px sans-serif;		
  background: rgb(172, 173, 173);	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;	
  font-size: .7em!important;		
}


*::-webkit-scrollbar {
  width: 2px;
  margin-left:-1em;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 1px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
